* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header ul li a{
    color: white;
    text-decoration: none;
}

.active{
    background-color: rgb(255, 174, 0);
    pointer-events: none;
}

.active a{
    color: black;
}

main{
    padding-top: 100px;
    padding-bottom: 2px;
    background-color: rgb(15, 15, 15);
    min-height: 100vh;
    background-image: url(../assets/fondoul.jpg);
}

.footer{
    color: white;
    text-align: center;
    margin-top: 50px;
}

.footer h6{
    font-size: 10px;
}

/* HEADER */ /*//////////////////////////////////////////////////////////////////////////////////////////////*/

header{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    position: fixed;
    border-bottom: 2px solid rgb(255, 251, 0);
    z-index: 100;
}

header h1{
    font-family: 'Lobster', cursive;
    letter-spacing: 5px;
    color: rgb(255, 251, 0);
    margin: auto;
    font-size: 30px;
}

.checkbtn{
    float: right;
    cursor: pointer;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    border-radius: 2px;
    background-color: rgb(0, 0, 0);
    transition: 0.5s;
    color: rgb(255, 255, 0);
    border-radius: 300px;
}

#check{
    display: none;
}

header ul{
    position: fixed;
    width: 50%;
    height: 100vh;
    background-image: url(../assets/fondoul.jpg);
    left: -100%;
    text-align: center;
    transition: all .5s;
    border-right: 3px solid rgb(255, 255, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center;
    padding: 0;
}

header ul li{
    display: block;
    font-size: 20px;
    padding: 7px;
    background-color: rgb(255, 255, 0);
    border-radius: 2px;
    margin: 10px auto 10px auto;
}

header ul li a{
    color: black;
    font-weight: bold;
}

header ul::before {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 50%;
    height: 100%;
    background-image: url(../assets/autosdecoo-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: cover;
    animation: slide-in 5.5s forwards;
}

#check:checked ~ ul{
    left: 0;
}

#check:checked ~ .checkbtn{
    background-color: rgb(255, 255, 0);
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

.logo_div{
    height: 100%;
    width: 19%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_div img{
    height: 40%;
    width: 100%;
    margin-left: 5px;
}


/* CONTACTO //////////////////////////////////////////////////////////////////////// */

.divContacto{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: black;
    gap: 20px;
}

.divContacto h2{
    background-color: rgb(255, 255, 0);
    width: 90%;
    margin: 0 auto 0 auto;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 5px 5px 1px rgb(192, 192, 0);
}


/* REDES /////////////////////////////////////////////////////////////////// */

.redes{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 72, 0.712);
    padding: 5px 0px 5px 0px;
}

.redes ul{
    width: 70%;
    display: flex;
    justify-content: space-between;
    transition: 3s;
}

.redes ul li{
    color: rgb(0, 0, 0);
    list-style: none;
    font-size: 30px;
}

.insta{
    border-radius: 300px;
}

.insta:hover{
    background: linear-gradient(to right, #ff8a00, #c13584);
}

.face{
    border-radius: 300px;
}

.face:hover{
    background-color: rgb(60, 60, 255);
}

.whats{
    border-radius: 300px;
}

.whats:hover{
    background-color: rgb(0, 175, 0);
}

@media screen and (min-width: 900px){
    header{
        justify-content: space-evenly;
    }

    header ul::before {
        background-size: auto;
    }

    header ul{
        width: 40%;
    }

    header h1{
        margin: auto 0 auto 0;
    }

    header label{
        width: 225px;
    }
}